$paddingApp: 10px;

$brRadius: 8px;

$bgAppMain: skyblue;

$bgApp: linear-gradient(to right, rgba($bgAppMain, 0.2), $bgAppMain, rgba($bgAppMain, 0.2));
$bgAppDiv: #fff;

$colorMainHeader: linear-gradient(to right, #bfc8d8, #c1d4f7);